snippet eqn "Equation" b
\begin{equation}
	\label{eqn:${1:label}}
	${0:${VISUAL}}
\end{equation}
endsnippet

snippet eqa "Aligned equations" b
\begin{equation}
\label{eqn:${1:label}}
\begin{aligned}
	${0:${VISUAL}}
\end{aligned}
\end{equation}
endsnippet

snippet eqg "Gathered equations" b
\begin{equation}
\label{eqn:${1:label}}
\begin{gathered}
	${0:${VISUAL}}
\end{gathered}
\end{equation}
endsnippet
